*{
  list-style: none;
  color: white;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(rgb(90, 91, 90), rgb(38, 47, 38));
}

h1 {
  color: #ffffff;
  margin-bottom: 10px;
  font-size: 40px;
  border: 2px solid white;
  padding: 10px;
  border-radius: 10px;
}

img {

  width: 40%;
  height: 600px; 
}

.deleteButton {
  background-color: rgb(206, 27, 27);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 20%;
}

.top {
  display: flex;
  margin: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#recentJoke{
  margin: 40px;
  color: white;
  font-size: 30px;
}

.joke-container{
  background-color: #ffffff30;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border: 3px solid #ffffff;
  border-radius: 5px;
  font-size: 15px;
  width: 650px;
}

#fetchJoke{
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  margin-right: 10px;
}

#deleteJokes {
  background-color: rgb(206, 27, 27);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

#fetchJoke:hover {
  background-color: #45a049;
}



